html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #212131;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  z-index: 9999;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #000;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}